body {
    font-family: sans-serif;
}
header {
    background-color: lightblue;
}
main {
    text-decoration: lightcoral;
}
.icons  {
    height: 300px;
    width: 500px;
}
footer p {
    background-color: white;
    padding: 5px;
}
footer {
    background-color: pink;
    padding: 5px;
}
nav {
    background-color: lightskyblue;
}
.icons {
    color: black;
} 
